<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>계산기</h1>
    <form action="test1Pr" method="post">
        Num1 <input type="text" name="num1" id="num1">

        <select name="op" id="op">
            <option>+</option>
            <option>-</option>
            <option>*</option>
            <option>/</option>
        </select>

        Num2 <input type="text" name="num2" id="num2">
        <br>
        <input type="submit" value="계산">
    </form>
    
</body>
</html>