<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view3Pr.html</title>
</head>
<body>

    <h1>[ Post 방식의 parameter 전달 - 객체로 전달 ]</h1>

    <form action="input3Pr" method="post">
        <label for="id">ID: </label>
        <input type="text" name="id" required><br>

        <label for="password">PASSWORD: </label>
        <input type="password" name="password" required><br>

        <label for="name">NAME: </label>
        <input type="text" name="name"><br>

        <label for="phone">PHONE: </label>
        <input type="text" name="phone"><br>

        <input type="radio" name="com" value="kt">KT
        <input type="radio" name="com" value="skt">SKT
        <input type="radio" name="com" value="lg">LG

        <input type="submit" value="가입">

    </form>
    
</body>
</html>