<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>view3.html</title>
</head>
<body>
	<h1>[ POST 방식의 parameter 전달 - 객체로 전달]</h1>
	
	<form action="input3" method="post">
	ID 			<input type="text" name="id" required><br>
	PASSWORD	<input type="password" name="password" required><br>
	Name		<input type="text" name="name"><br>
	Phone		<input type="text" name="phone"><br>
				<input type="radio" name="com" value="kt" checked> KT
				<input type="radio" name="com" value="sk"> SKT
				<input type="radio" name="com" value="lg"> LG <br>
				<!-- 따라가는 값은 com만 감 -->
		<input type="submit" value="가입">
	</form>

</body>
</html>