<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ Ajax ]</title>
</head>
<body>
    <h1>[ JavaScript/jQuery/Ajax ]</h1>

    <ol>
        <li> JavaScript
            <ul>
                <li><a th:href="@{javascript/js1}">JavaScript의 실행</a></li>
                <li><a th:href="@{javascript/js2}">기본 문법</a></li>
                <li><a th:href="@{javascript/js3}">내장 객체</a></li>
                <li><a th:href="@{javascript/js4}">실습</a></li>
            </ul>
        </li>
        <li>
            jQuery
            <ul>
                <li><a th:href="@{jquery/jq1}"> jQuery 사용하기 </a></li>
                <li><a th:href="@{jquery/jq2}"> 이벤트 처리 </a></li>
                <li><a th:href="@{jquery/jq3}"> 배열과 each함수 </a></li>
                <li><a th:href="@{jquery/jq4}"> 문서 객체 조작 </a></li>
                <li><a th:href="@{jquery/jq5}"> 애니메이션 효과 </a></li>
                <li><a th:href="@{jquery/jq6}"> 이미지배열 처리 </a></li>
            </ul>
        </li>
        <br>
        <li><a th:href="@{ajax/aj1}"> Ajax 요청과 응답 </a></li>
        <li><a th:href="@{ajax/aj2}"> Ajax 요청과 응답 </a></li>
        <li><a th:href="@{comment/ct}"> 리플 달기 </a></li>
       
    </ol>
       
</body>
</html>