<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spring3</title>
</head>
<body>
    <h1>[ Spring3 - DB와 연동 ]</h1>

    <p><a href="insert">값 저장</a></p>
    <p><a href="delete?idnum=012345-7894561">지정한 한명 삭제</a></p> 
        <!-- ?파라미터이름=값 이렇게 임시로 주면 한명만 지울수 있다 -->
    <p><a href="delete2?name=동">이름으로 삭제</a></p>
        <!-- 이 문자가 아무데나 들어가만 있어도 지워진다 -->
    <p><a href="selectOne?idnum=1111">1명 정보조회</a></p>
    <p><a href="select">모든 정보 조회</a></p>
    
</body>
</html>