<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입력</title>
</head>
<body>
    <h2>[ DB에 값 입력 ] </h2>
    
    <form action="insert" method="post"> 
    <!-- 지금 같은곳에 있는메서드를 의미
	action="insert" 홈에서도 주소를 insert라고 줬는데
	되는 이유는 하나는 겟이고 하나는 포스트니깐 다르게 받아들인다 -->
    주민번호: <input type="text" name="idnum">
    이름:     <input type="text" name="name">
    나이:     <input type="text" name="age">
    <input type="submit" value="저장">
    </form>
</body>
</html>
